<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.windys.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_login"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".fragment.NavigationDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar">



        </activity>
        <activity android:name=".fragment.BottomDelete"></activity>
        <activity android:name=".fragment.BottomTabActivity">

        </activity>
        <activity android:name="com.PlaceHomeWorkdelete.promotion.PromotionActivity" />
        <activity android:name="com.PlaceHomeWorkdelete.PlaceActivity" />
        <activity android:name=".fragment.MainActivity" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".CategoryWork.CategoryActivity" />
        <activity android:name=".ListContact.ContactActivity" />
        <activity android:name=".recyclerview.HistoryActivity" />
        <activity android:name=".recyclerview.PlaceActivity" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".BottomNavigation"
            android:label="@string/title_activity_bottom_navigation"></activity>
        <activity android:name=".AccountActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".UpdataUserInfoActivity" />
        <activity android:name=".LoginActivity" />
    </application>

</manifest>